*{
	margin: 0px;
	padding: 0px;
}
div{
	display: block;
}
body{
	background-color: #ccc;
	width: 100%;
	height: 100%;
}
#content{
	/*width: 300px;
	height: 500px;*/
	width: 100%;
	height: 100%;
	margin: 20px auto;
	background-color: white;
}
a{
	 text-decoration: none;
	 text-align: center;
}
.title_txt{
	width: 100%;
	height: 100px;
	display: block;
	position: relative;
	padding-top: 100px;
	text-align: center;
	overflow:hidden;
}
.title_txt h1{
	color: red;
}
.title_btn{
	width: 100%;
	display: block;
	position: relative;
	margin:50px auto;
	text-align: center;
}
.title_btn a{
	color:  brown;
}
.top-bar{
	padding-top: 3px;
	width: 100%;
	height: 40px;
	background-color: red;
}
.top-bar p{
	width: 50%;
	float: left;
	padding-top: 10px;
	padding-left: 25px;
}
.top-bar a{
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	color: white;
}
